.wave {
  display: inline-block;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%; /* pivot around the hand */
}

.wave:hover {
  animation: wave-fast 0.3s infinite; /* new faster animation */
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wave-fast {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(18deg); }
  100% { transform: rotate(-12deg); }
}

.aboutMeContent{
    gap: 1.5rem
}

.aboutMeSection {
    position: relative;
    z-index: 1; /* ensures content is above background */
    margin-top: 0px;
    margin-bottom: 0px;
}

.floatingParticlesBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This puts it behind everything */
  pointer-events: none; /* Optional: prevents it from blocking clicks */
}