.heroSection {
    min-height: 100vh;
}

.title {
    width: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap-mode: nowrap;
    align-items: center;
}

.titleButtonContainer {
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.titleButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.nameContainer {
    align-items: center;
}

.cursor {
    min-width: 4px;
    min-height: 100%;
    border-radius: 10px;
    background-color: var(--accent-color);
    margin: 20px;
    animation: blink 1.75s ease-in-out infinite both;
}

@keyframes blink {
    from {opacity: 0%;}
    50% {opacity: 100%;}
    to {opacity: 0%}
}

.titleName {text-wrap-mode: nowrap;}

