.heroSection {
    min-height: 100vh;
}

.title {
    width: min-content;
    position: absolute;
    top: calc(50% - 10px - 4rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap-mode: nowrap;
    align-items: center;
}

.nameContainer {
    align-items: center;
}
.nameContainer > p {text-align: center;}

.titleName {
    text-wrap-mode: nowrap; 
    text-align: center;
    position: relative;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 4px;
    height: 0.8em;
    border-radius: 10px;
    background-color: var(--accent-color);
    margin-left: 8px;
    vertical-align: baseline;
    animation: blink 1.75s ease-in-out infinite both;
}

@keyframes blink {
    from {opacity: 0%;}
    50% {opacity: 100%;}
    to {opacity: 0%}
}

.titleButtonContainer {
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 650px) {
    .titleName {
        line-height: 1.2;
    }
    /* .nameContainer {transform: translateY(-20%);} */
}


@media only screen and (max-width: 340px) {
    .titleName {
        font-size: 3.5rem;
        text-wrap-mode: wrap;
    }
}

@media  (max-width: 600px) {
  .title {
        top: calc(50% - 10px - 2.5rem);
    }
}

@media  (max-width: 375px) {
  .title {
        top: calc(50% - 10px - 2rem);
    }
}

@media only screen and (max-width: 340px) {
    .title {
        top: calc(50% - 10px - 5rem);
    }
}