.form {
    gap: 2rem;
}

.form > * {
    width: 70%;
}

.form > * > * {
    width: 100%;
}

textarea {
    height: 15rem;
}

.contactSection {
    position: relative;
    overflow: hidden;
}

.contactSection canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

@media  (max-width: 800px) {
    /* .form > * {
        width: 100%;
    } */

    .contactSection canvas {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        transform: translate(0px, 50px);
    }
}

@media (max-width: 500px) {
    .form {
        font-size: 0.7rem;
    }
}

@media (max-width: 300px) {
    .form {
        font-size: 0.5rem;
    }
}

.contactSection {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.avatarBannerContainer > div.avatarBannerMessage {
    margin: 10px 0px;
}

.contactSection > h2 {
    align-items: baseline;
}

.contactSection h2 div {
    gap: 0.5rem;
    align-items: anchor-center;
    transform: translate(0px, -25px);
}

.contactSection > form {transform: translateX(2px);}

@media (max-width: 610px) {
    .contactSection h2 div {transform: translate(1px, -15px);}
}

@media (max-width: 600px) {
    .contactSection h2 span {transform: translateX(0px) !important;}
}

@media (max-width: 375px) {
    .contactSection h2 div {transform: translate(1px, -10px);}
}