.form {
    gap: 2rem;
}

.form > * {
    width: 70%;
}

.form > * > * {
    width: 100%;
}

textarea {
    height: 15rem;
}

.contactSection {
    position: relative;
    overflow: hidden;
}

.contactSection canvas {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    transform: translateX(-200px);
}

@media  (max-width: 800px) {
    .form > * {
        width: 100% !important;
    }
    .contactSection canvas {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: -1;
        transform: translate(0px, 50px);
    }
}

@media (max-width: 500px) {
    .form {
        font-size: 0.7rem;
    }
}

@media (max-width: 300px) {
    .form {
        font-size: 0.5rem;
    }
}