.section-header {font-size: 4rem;}

a {
  text-decoration: none; 
  color: inherit; 
  font-style: italic;
  text-wrap-mode: nowrap;
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

.flex-horiz {
  display: flex;
  justify-content: space-between;
}

.section-margin {margin: 5rem;}

.small-font {font-size: 0.7rem;}

.small-font-2 {font-size: 1rem;}

.medium-font {font-size: 1.2rem;}

.big-font-3 {font-size: 1.75rem;}

.big-font-2 {font-size: 3rem;}

.big-font {font-size: 5rem;}

.cursor {cursor: pointer;}

.align-center {align-items: center;}

.shine {
  position: relative;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #60a5fa, #93c5fd, #60a5fa);
  background-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

