.section-header {font-size: 4rem;}

a {
  text-decoration: none; 
  color: inherit; 
  font-style: italic;
  text-wrap-mode: nowrap;
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

.flex-horiz {
  display: flex;
  justify-content: space-between;
}

.section-margin {
  margin: 3rem;
}