/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6, p:not(#landingPage > div > h1 > p) {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}

a {
  font-style: normal !important;
}

html, body, #root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

ul {
  padding: 0px;
  margin: 0px
}

button, textarea, input {
  background: transparent;
  color: inherit;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  outline: none;
}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer
}

@font-face {
  font-family: 'Space-Grotesk';
  src: url('./assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

:root {
  font-family: 'Space-Grotesk', 'Calibri', Arial, Helvetica, sans-serif;
  background-color: black;
    color: white;
    --accent-color: #3b82f6;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}